<% if object.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<%= object.errors.count %> error has occured.
	<ul>
		<% object.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>