<div class="box2">
	<div class="container">
		<div id="body">
			<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers!</strong></h1>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">CopyRight Infrafop.inc</div>
		</div>
	</div>
</footer>